.iconTop{
    width: 161.59px;
    height: 60px;
    left: 639px;
    top: 172px;
    margin-bottom: 50px;
}
.icon{
    width: 31px;
    height: 31.74px;
}
.btn-google{
    border-radius: 57px;
    background-color:#FFFFFF;
    color: black;
    /* padding-left: 20px; */
    /* padding-bottom: 20px; */
    /* width: 457px; */
    /* height: 51px; */
    border-radius: 57px;
}
.login-page{
    background-color:#FFFFFF;;
}

.double-edit{
    display: flex;
    padding: 20px;
}
.loging-gap{
    margin-bottom: 200px;
}