#feedback{
    /* background-color: #0d0442; */
    padding: 7% 10%;
 
}
.hr-style{
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
}
.feedback-img{
    width: 120px;
    height: auto;
}

