.btn-color{
    background-color:  #F63E7B;
    border: 1px solid  #F63E7B;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}
.star-rating{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stars{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.star{
    list-style: none;
    font-size: 4rem;
    padding-left: 20px;
    color: white;
}
.star:first-child{
     padding:0;
}
