
.bg-card{
    background-color: white;
}
.row{
    margin-right: 0px;
}
.btn{
    background-color: #F63E7B;
    border-radius: 5px;
    width: 229px;
    height: 50px;
    border: 1px solid #F63E7B;
    color: white;
    margin-top: 70px;
    margin-bottom: 100px;
}
.btn:hover{
    background-color: #F63E7B;
    border-radius: 5px;
    width: 229px;
    height: 50px;
    border: 1px solid #F63E7B;
    color: white;
    margin-top: 70px;
    margin-bottom: 100px;
}