:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 61px;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}
@media ( min-width: 992px ) {
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var( --topNavbarHeight));
    }
}
.offcanvas-sidebar-bg{
background-color: #FFFFFF;
  }
/* offcanvas-sidebar-text-color-start */
.item{
    text-decoration: none;
    color: #878787;;
}
.item:hover{
    color: #F63E7B
}
/* offcanvas-sidebar-text-color-end */
.bg-book{
    background-color: #F4F7FC;
}
.text-bg{
    padding-bottom: 286px;
}
.dashbord-text{
    margin-left: 100px;
}